.month-aside {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding: 16px;
  position: fixed;
  top: 120px;
  bottom: 0;
  overflow-y: auto;
  z-index: 2;
  width: 300px;
}

.add-event-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 40px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 24px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.calendar-widget-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  color: grey;
}

.calendar-widget-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-content: center;
}

.calendar-widget-dates div {
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
.calendar-widget-dates div:hover {
  background-color: #a0beee;
  color: black;
  border-radius: 50%;
}
.calendar-widget-days div {
  text-align: center;
  padding: 10px;
}

.calendar-widget-dates div.selected {
  background-color: #a0beee;
  color: black;
  border-radius: 50%;
}

.calendar-widget-dates div.today {
  background-color: #3b82f6;
  color: white;
  border-radius: 50%;
}

.calendar-widget-dates div.prev-month-day,
.calendar-widget-dates div.next-month-day {
  color: #ccc;
  cursor: pointer;
}

.switch-weeks-widget {
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
  border: none;
  font-weight: lighter;
  font-size: 20px;
  cursor: pointer;
}
.switch-weeks-widget:hover {
  font-weight: bold;
}

.calendar-widget-header {
  display: flex;
  align-items: center;
  padding-left: 6px;
  justify-content: space-between;
  font-weight: 600;
  font-size: 20px;
}
